.nav-menu {
    background-color: antiquewhite;
    
}

.nav-menu ul {
    display: flex;
}

.link-seccion {
    text-transform: uppercase;
    list-style: none;
}

.link-seccion a {
    text-decoration: none;
    padding-left: 1rem;
}

.pie {
    background-color: antiquewhite;
    text-align: center;
    padding: 2rem 0;
}