<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/deportes.css">
</head>

<body>
    <h1>el commit</h1>
    <h2>deportes</h2>

    <div>
        <h2>Lionel Messi habló sobre su futuro en la selección argentina: “No creo que llegue al próximo Mundial”</h2>
        <img src="../assets/img/messi.jpg"
            alt="messi">
        <p>Lionel Messi brindó una entrevista con la TV de China mientras se prepara para disputar el amistoso con la
            selección argentina ante Australia el próximo jueves en Beijing y dejó una frase contundente sobre su futuro
            en el equipo nacional: aclaró que no piensa estar en el Mundial del 2026 que se realizará en Canadá, México
            y Estados Unidos.</p>
        <p>“Todos los aficionados chinos y también de afuera quieren saber si usted podría jugar el siguiente Mundial,
            es decir Estados Unidos, Canadá y México”, le planteó el periodista durante la nota con Titan Sports. “En
            realidad lo dije algunas veces, creo que no, que este fue mi último Mundial. Ahora iré viendo cómo se dan
            las cosas, pero en principio no creo que llegue al próximo”, afirmó la Pulga.</p>
    </div>

    <div>
        <h2>Liga Nacional: Quimsa se levantó en la Bombonerita y recuperó la ventaja contra Boca</h2>
        <img src="../assets/img/basquet.jpg"
            alt="basquet">
        <p>Con un estadio Luis Conde colmado en su capacidad, Quimsa demostró una muestra de caracter al imponerse por
            83 a 78 ante Boca Juniors en la Bombonerita y recuperar la ventaja que le habían quitado en el último juego
            de local. De esta manera, el combinado santiagueño aventaja la serie por 2 a 1. El próximo duelo será este
            miércoles, desde las 21.10, en la casa del Xeneize.</p>
        <p>En un encuentro parejo y cambiante, una de las claves fue la figura de Brando Robinson, quien con una
            seguidilla de puntos (un triple, un doble y seis libres), más un rebote defensivo, terminó inclinando la
            balanza para que el conjunto visitante se quedara con el tercer capítulo. De esta manera, el norteamericano
            acumuló un total de 18 puntos. El otro hombre destacado de los dirigidos por Leandro Ramella fue Mauro
            Cosolito. El capitán de Quimsa cerró una planilla con 20 puntos (5 de 6 en triples) y dos rebotes.
        </p>
    </div>

    <div>
        <h2>Las Panteras hoy vs Cuba en Rosario: a qué hora juegan y cómo ver online y TV</h2>
        <img src="../assets/img/seleccionvoleyfemenino.jpg"
            alt="seleccion argentina de voley femenino">
        <p>Las dirigidas por Daniel Castellini tienen por delante la Copa Panamericana y el Sudamericano en agosto, el
            Preolímpico en septiembre y los Juegos Panamericanos entre octubre y noviembre. Perdieron uno y ganaron el
            otro de los dos amistosos ante las cubanas en Córdoba. El cuarto será en Rafaela y luego regresarán a
            Córdoba para el quinto: ¿cuándo juegan?</p>
        <p>Este martes 13 de junio desde las 21 las Panteras, la selección argentina femenina de voley, se enfrentará a
            su par de Cuba en el Club Provincial de Rosario en el marco de una serie de amistosos ante las
            centroamericanas.</p>
    </div>

    <div>
        <h2>Hockey: Las Leonas siguen ganando y están punteras en la FIH Pro League</h2>
        <img src="../assets/img/seleccionhockeyfemenino.jpg"
            alt="seleccion argentina de hockey femenino ">
        <p>
            Las Leonas sumaron este lunes su cuarto triunfo seguido en la FIH Pro League de hockey sobre césped al
            derrotar por 2 a 1 a China en partido jugado en la ciudad de Eindhoven, Países Bajos.
        </p>
        <p>El equipo dirigido por Fernando Ferrara se consolidó en la primera posición de la tabla con 29    unidades, a
            partir de las conquistas logradas por Alina Piccardo (su primer gol en la Selección Mayor) y Valentina Costa
            Biondi, a tres minutos del final. El empate provisorio del conjunto asiático fue obra de Zhang Ying, en el
            segundo cuarto</p>
    </div>

</body>

</html>