<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/espectaculos.css">
    <title>Espectaculos</title>
</head>

<body>
    <h1>Mirtha Legrand fue premiada en Mar del Plata por su trayectoria: “Voy a trabajar hasta el fin de mis días”</h1>
    <img src="../assets/img/Mirtha2.jpg" alt="Mirtha Legrand premiada" class="imagen">
    <div class="cuerpoNota">
        <p>La conductora recibió el premio Don Manuel Álvarez Argüelles, que se entrega todos los años en una gala que
            se
            realiza en el Hotel Costa Galana por el Día del Periodista. También fueron reconocidos Daniel Hadad y
            Esteban
            Edul</p>

        <p>Mirtha Legrand fue una de las premiadas el sábado a la noche en la tradicional gala por el Día del Periodista
            que
            realiza el Hotel Costa Galana. “La Chiqui” recibió el premio Don Manuel Álvarez Argüelles, denominado así en
            honor al fundador de la cadena hotelera. Fue entregado por Claudia y María del Carmen Álvarez Argüelles, CEO
            y
            presidenta de la compañía, por los 55 años del programa Almorzando con Mirtha Legrand.

            “Tengo 96 años y sigo trabajando y me levanto todos los días con ganas de estar en televisión, de conectarme
            con
            la gente, realmente es casi un milagro. Muchas gracias por este fantástico premio”, dijo Mirtha al recibir
            la
            estatuilla de pluma, realizada por el reconocido orfebre Juan Carlos Pallarols.

            La diva aprovechó la ocasión además para contar que está en tratativas para volver a su tradicional programa
            de
            los almuerzos. “Yo no soy periodista, soy conductora que no es lo mismo, el periodismo me merece mucho
            respeto.
            Estoy en tratativas para volver a la televisión, no sé si va a ser en América o en el Trece, pero volveré a
            trabajar hasta el fin de mis días, hasta que Dios me dé salud”, agregó. “Disfrutemos que la vida es corta,
            como
            digo siempre, como te ven, te tratan. Si te ven mal, te maltratan. Y si te ven bien, te contratan”, cerró
            entre
            aplausos y risas.</p>
    </div>
</body>

</html>