<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/tecnologia.css">
    <title>Document</title>
</head>

<body>
    <h1>el commit</h1>
    <h2>tecnologia</h2>
    <div class="noticia">
        <h3>El Parlamento Europeo aprobó un proyecto para regular el uso de la Inteligencia Artificial</h3>
        <div>
            <img src="../assets/img/parlamento.jpg" alt="parlamento europeo">
            <p>La normativa también incluye requisitos para ChatGPT y DALL-E y la prohibición al uso generalizado de
                sistemas de reconocimiento facial en lugares públicos. La legislación deberá ser adoptada por los 27
                países
                para tener vigencia</p>
        </div>
    </div>
    <div class="noticia">
        <h3>I-JEPA: la nueva inteligencia artificial de Meta que se basa en el aprendizaje humano</h3>
        <div>
            <img src="../assets/img/meta.jpg" alt="meta">
            <p>Meta sigue avanzado en sus proyectos de inteligencia artificial y ahora presentó un nuevo modelo llamado
                I-JEPA (Image Joint Embedding Predictive Architecture), que busca emular el sentido común humano para
                generar contenido desde la percepción y no tanto desde los datos, lo que le permitiría aprender de
                manera
                más rápida, planificar tareas complejas y adaptarse fácilmente a situaciones desconocidas.</p>
        </div>
    </div>
    <script src="../js/tecnologia.js"></script>
</body>

</html>